In [1]:
import pandas as pd
import numpy as np

### 데이터 불러오기

> ply_meta data

In [2]:
ply_meta = pd.read_json('ply_meta.json')
ply_meta.head(10)

,ply_id,ply_title,ply_tag_lst,ply_like_cnt,ply_updt
0,117162,12월의 재즈,"크리스마스, 겨울",353,2016-12-26 12:33:33.000
1,151638,12월의 크리스마스를 yeah,발라드,29,2009-12-22 09:11:45.000
2,27984,1월의 최신 EDM 소식,일렉,84,2015-01-29 16:22:19.000
3,48636,2000년대 힙합을 부탁해,"힙합, 랩",54,2015-06-09 17:25:51.000
4,30079,2008 그랜드민트 페스티벌,락,12,2008-12-23 19:56:46.000
5,52572,2010 2017 빌보드 1위곡 모음,"빌보드, 팝송추천, 팝송, 팝송모음",117,2017-07-27 10:37:19.000
6,59658,2013떡춤 신나는노래 강추,일렉,19,2013-06-01 18:26:12.000
7,132181,2015년 뜨거운 시작 – 국내 힙합 앨범 추천,"힙합, 랩",23,2015-04-21 11:25:28.000
8,72976,2015년 Top 5 일렉트로닉 뮤직 공연,일렉,12,2015-12-18 17:20:24.000
9,144084,2015년 상반기 주목할 국내 재즈 앨범들 1,재즈,72,2015-08-13 11:13:45.000

> ply_title_embedding data

In [8]:
ply_title_embedding = pd.read_json('ply_title_numodel_emd_demo.json')
ply_title_embedding.head(10)

   ply_id                                      ply_title_emd
0     441  [-0.0533357933, 0.09877176580000001, -0.056649...
1    7975  [0.0313432999, 0.0287983175, 0.0018531609, 0.0...
2   12754  [0.017142405700000002, 0.0556021295, 0.0118960...
3   13343  [0.0072588944, 0.0423989445, 0.0186246578, -0....
4   18525  [-0.0172967296, 0.0429894589, -0.0288262330000...
5   18776  [0.0185401458, -0.011468873400000001, 0.032603...
6   22542  [-0.0469657183, 0.0726537257, -0.0493122898, -...
7   28244  [-0.0326363519, 0.0475376807, 0.04532303290000...
8   35469  [-0.0322757997, 0.0658779219, 0.0271131806, -0...
9   35497  [-0.0445398912, 0.0563148409, 0.0583873093, -0...

In [12]:
ply_title_embedding['ply_title_emd'] = ply_title_embedding['ply_title_emd'].apply(lambda x: ', '.join(map(str, x)))
ply_title_embedding.head(10)

   ply_id                                      ply_title_emd
0     441  -0.0533357933, 0.09877176580000001, -0.0566490...
1    7975  0.0313432999, 0.0287983175, 0.0018531609, 0.00...
2   12754  0.017142405700000002, 0.0556021295, 0.01189609...
3   13343  0.0072588944, 0.0423989445, 0.0186246578, -0.0...
4   18525  -0.0172967296, 0.0429894589, -0.02882623300000...
5   18776  0.0185401458, -0.011468873400000001, 0.0326035...
6   22542  -0.0469657183, 0.0726537257, -0.0493122898, -0...
7   28244  -0.0326363519, 0.0475376807, 0.045323032900000...
8   35469  -0.0322757997, 0.0658779219, 0.0271131806, -0....
9   35497  -0.0445398912, 0.0563148409, 0.0583873093, -0....

> song_meta data

In [14]:
song_meta = pd.read_json('last_song_meta.json')
song_meta.head(10)

,song_id,song_name,artist_name_lst,song_gnr_lst
0,3,Feeling Right (Everything Is Nice) (Feat. Popc...,[Matoma],[일렉트로니카]
1,10,Hi (Heyoo),[Miraa.],[랩/힙합]
2,17,Girl Crush,[마마무 (Mamamoo)],"[아이돌, 댄스]"
3,19,무얼 기다리나 (Feat. 조원선),[이영훈],"[인디음악, 포크/블루스]"
4,28,Paris Sera Toujours Paris,[Zaz],[POP]
5,30,9-TEEN,[세븐틴],"[아이돌, OST, 댄스]"
6,32,먼지,[에버루아],[OST]
7,47,Walk Alone,[LHA],"[인디음악, 랩/힙합]"
8,54,있어줄래,[길구봉구],[발라드]
9,57,Not Nice,[PARTYNEXTDOOR],[R&B/Soul]

In [15]:
song_meta['artist_name_lst'] = song_meta['artist_name_lst'].apply(lambda x: ', '.join(x))
song_meta['song_gnr_lst'] = song_meta['song_gnr_lst'].apply(lambda x: ', '.join(x))
song_meta.head(10)

,song_id,song_name,artist_name_lst,song_gnr_lst
0,3,Feeling Right (Everything Is Nice) (Feat. Popc...,Matoma,일렉트로니카
1,10,Hi (Heyoo),Miraa.,랩/힙합
2,17,Girl Crush,마마무 (Mamamoo),"아이돌, 댄스"
3,19,무얼 기다리나 (Feat. 조원선),이영훈,"인디음악, 포크/블루스"
4,28,Paris Sera Toujours Paris,Zaz,POP
5,30,9-TEEN,세븐틴,"아이돌, OST, 댄스"
6,32,먼지,에버루아,OST
7,47,Walk Alone,LHA,"인디음악, 랩/힙합"
8,54,있어줄래,길구봉구,발라드
9,57,Not Nice,PARTYNEXTDOOR,R&B/Soul

> song_in_ply data

In [16]:
song_in_ply = pd.read_json('song_in_ply.json')
song_in_ply

         ply_id  song_id
0        117162   677632
1        117162   309377
2        117162   473793
3        117162   179652
4        117162   407630
...         ...      ...
1401854  106976   321330
1401855  106976   240306
1401856  106976   216057
1401857  106976   331098
1401858  106976   179583

[1401859 rows x 2 columns]

### MySQL 연동

In [33]:
from sqlalchemy import create_engine
import pymysql

In [ ]:
engine = create_engine("mysql+pymysql://유저:"+"비밀번호"+"@ip주소:포트번호/DB명?charset=utf8")
conn = engine.connect()

In [ ]:
# ply_meta 테이블에 데이터프레임 저장
ply_meta.to_sql(name='ply_meta', con=engine, if_exists='append', index=False)

In [ ]:
# ply_title_embedding 테이블에 데이터프레임 저장
ply_title_embedding.to_sql(name='ply_title_embedding', con=engine, if_exists='append', index=False)

In [ ]:
# song_meta 테이블에 데이터프레임 저장
song_meta.to_sql(name='song_meta', con=engine, if_exists='append', index=False)

In [ ]:
# song_in_ply 테이블에 데이터프레임 저장
song_in_ply.to_sql(name='song_in_ply', con=engine, if_exists='append', index=False)

In [54]:
conn.close()

In [34]:
# mysql 연동
pms_conn = pymysql.connect(host='IP'
                , port=포트번호
                , user = '유저'
                , password='비밀번호'
                , db = 'DB명'
                , charset='utf8'
                ) 

cur = pms_conn.cursor()

In [ ]:
# DB에서 데이터 가져오기
SQL = "SELECT * FROM ply_meta;"
temp = pd.read_sql(SQL, pms_conn)
temp

In [43]:
# 문자형으로 DB에 저장했던 ply_tag_lst 컬럼을 다시 리스트화
temp['ply_tag_lst'] = temp['ply_tag_lst'].apply(lambda x: x.split(','))
temp.head(10)

,ply_id,ply_title,ply_tag_lst,ply_like_cnt,ply_updt
0,1,________ 질리지 않는 이 곡 들,"[힙합, 랩]",2,2011-11-22 17:31:01.000
1,2,좋은 꿈을 꿀것같은 사랑스러운 음악,"[밤, 새벽]",11,2014-07-28 12:30:32.000
2,4,9회말 2아웃 1픽으로 장만하는 데뷔의 발판 프로듀스 101 시즌2,"[tv별책부록, 프로듀스101, 프로듀스101시즌2]",5,2017-06-16 17:20:40.000
3,5,3월 봄이오는 소식과 함께 겨울 안뇽,"[감성, 카페, 봄노래, 드라이브, 여행, 휴식, 기분전환, 사랑, ...",6,2020-03-10 18:11:12.000
4,6,조깅할때나 운동할때 신나는 EDM,"[헬스음악, 헬스장, 운동할때신나는음악, 자전거, 운동할때듣는음악, 라이딩...",180,2020-04-18 12:28:33.000
5,8,안되는걸 알면서도 희망을 갖고사는나,"[비오는날, 슬픔, 이별]",13,2015-09-06 22:33:37.000
6,9,괜히 울적할 때 들으면 좋은 노래,"[감성, 드라이브, 가을]",5,2018-10-06 20:58:20.000
7,12,울림엔터테인먼트의 울림있는 노래,"[기분전환, 까페]",6,2016-01-21 11:42:44.000
8,13,따뜻한 홍차라떼와 어울리는 음악들,"[휴식, 힐링, 설렘, 사랑]",5,2016-01-22 11:13:03.000
9,14,오우 POP 좀 들을 줄 아는 놈인가,[팝송],12,2019-09-16 16:22:58.000

In [47]:
# 확인
temp['ply_tag_lst'][0]
temp['ply_tag_lst'][0][1]

' 랩'

In [60]:
pms_conn.close()